body {
    background: #040e27;
}

body header div.container nav.navbar {
    background-color: #040e27;
}

body header div.container nav.navbar a.navbar-brand {
    color: white;
}

body header div.container nav.nav a.nav-link {
    color: white;
}

body header div.container nav.nav a:hover {
    color: #0175e0;
}

body section div.jumbotron-fluid {
    background: #040e27;
}

body section div.jumbotron-fluid div.container h4 {
    color: #0175e0;
}

body section div.jumbotron-fluid div.container h6 {
    color: #ffa509;
}

body section div.jumbotron-fluid div.container h6 span {
    color: #a6c3cc;
}

body footer div.container div.row div.col h2 a {
    color: white;
}

body footer div.container div.row div.col h2 a:hover {
    color: #0175e0;
}

body footer div.container div.row div.col ul.nav a i {
    color: white;
}

body footer div.container div.row div.col ul.nav a.nav-link {
    color: white;
}

body footer div.container div.row div.col ul.nav a:hover {
    color: #0175e0;
}

.my_img {
    border-radius: 50%;
}

.myPhoto {
    width: 7%;
    border-radius: 50%;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
}

.content_img {
    width: 100%;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    background-color: #040e27;
}

@media (min-width: 500px) {
    .card-group {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 700px) {
    .card-group {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    .card-group {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .card-group {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card-group .card:not(:first-child) {
    width: 100%;
}